#container_home{
    width: 90%;
    height: 930px;
    border: 3px #ffffff solid;
    display: block;
    margin: auto;
    padding: 0;
}

#top_page{
    display: flex;
}

#barcode_home{
    width: 100px;
    height: 95px;
    margin: 5px 0 0 3px;
}

#introducao{
    font-family: TTAutonomous;
    color: #ffffff;
    font-size: 20px;
    margin: 10px 10px 0 10px;
    width: 557px;
    height: 100px;
    text-align: justify;
}

#icons_home{
    width: 240px;
    height: 100px;
    margin-top: 13px;
}

#icon_home{
    width: 80px;
}

#container2{
    width: 90%;
    height: 220px;
    border: 3px #ffffff solid;
    display: flex;
    margin: 30px auto auto auto;
    padding: 0;
}

#hands{
    width: 300px;
    height: 180px;
    margin: 20px 0 0 20px;
}

#descricao{
    font-family: TTAutonomous;
    color: #ffffff;
    font-size: 20px;
    margin: 20px 0 0 20px;
    width: 530px;
    height: 100px;
    text-align: justify;
}

#mola{
    width: 160px;
    height: 190px;
    margin: 10px 10px 0 10px;
}

#buttons{
    width: 90%;
    height: 160px;
    display: flex;
    margin: 50px auto auto auto;
    padding: 0;
    justify-content: space-between;
}

#button{
    width: 150px;
    height: 150px;
    background-color: #202020;
    outline: none;
    border: 4px solid #ffffff;
    cursor: pointer;
    transition: 0.3s;
    color: #ffffff;
    text-align: center;
    font-family: Manolete;
    font-size: 19px;
}

#button:hover{
    border: 4px solid #aa00ff;
    background-color: #aa00ff;
    transform: translateY(-10px);
    box-shadow: #4300ca 0 7px 29px 0;
}

#button_icon{
    width: 80px;
    height: 80px;
    transition: 0.2s;
    margin: 10px 0 10px 0;
}

buttonslabel{
    display: flex;
}

#olhos_trabalhos{
    display: flex;
    position: relative;
    text-align: center;
    width: 100%;
}

#olhos{
    width: 90%;
    display: block;
    margin: 50px auto auto auto;
}

#trabalhos{
    color: #ffffff;
    position: absolute;
    bottom: -65px;
    left: 140px;
    font-family: Protest;
}