#container_pessoal{
    width: 90%;
    height: 1300px;
    border: 3px #ffffff solid;
    margin: auto;
    padding: 0;
}

#top{
    display: flex;
    position: relative;
    text-align: center;
    width: 100%;
}

#me{
    width: 300px;
    margin: 30px 0 0 32px;
}

#img1{
    width: 200px;
    margin: 30px 0 0 32px;
}

#img2{
    width: 400px;
    margin: 30px 0 0 32px;
}

#brilho{
    width: 100px;
    position: absolute;
    bottom: -70px;
    left: 40px;
}

#texto{
    font-family: Manolete;
    font-size: 100px;
    color: #ffffff;
    position: absolute;
    bottom: -100px;
    left: 280px;
    transform:scale(1.5,1);
}

#brilho2{
    width: 100px;
    position: absolute;
    bottom: -60px;
    right: 40px;
}

#me2{
    width: 965px;
    margin: 30px 0 0 32px;
}

#container_sobre{
    margin: 30px 0 0 32px;
    border: 3px solid #ffffff;
    display: flex;
    width: 965px;
    height: 400px;
}

#sobre_icons{
    margin: 20px 0 0 20px;
    border: 3px solid #ffffff;
    width: 100px;
    height: 355px;
    padding: 0 10px 10px 10px;
}

#icon1{
    width: 75px;
    border: 2px solid #ffffff;
    margin-top: 5px;
}

#icon2{
    width: 75px;
    margin-top: 5px;
}

#sobre_texto{
    color: #ffffff;
    font-family: TTAutonomous;
    font-size: 30px;
    margin: 20px 0 0 20px;
    text-align: justify;
    width: 790px;
}